#footer {
  color: #b4b4b4;
  background: #222;
  padding: 40px 0 18px 0;
  border-top: 1px solid #000;
  height: 300px;
}

#footer a {
  color: #999;
}

#footer a:hover {
  color: #efefef;
}

.blube {
  color: #26ADE4;
}
.limey {
  color:#D1E751;
}

.large {
  font-size: 90px;
}