#footer
  .container
    .row
      .col-md-4
        %span.limey.glyphicon.glyphicon-star.large.footer-icon
        %p
          Lorem ipsum dolor sit amet, nostrum constituto eum ex, ad ferri suscipit rationibus mei.
          Te iudicabit prodesset vim, inani volutpat consulatu ut eos. Nec ut odio copiosae. Per cu liber.
      .col-md-4
        %span.blube.glyphicon.glyphicon-book.large.footer-icon
        %p
          Lorem ipsum dolor sit amet, nostrum constituto eum ex, ad ferri suscipit rationibus mei.
          Te iudicabit prodesset vim, inani volutpat consulatu ut eos. Nec ut odio copiosae. Per cu liber.
      .col-md-4
        %span.limey.glyphicon.glyphicon-info-sign.large.footer-icon
        %p
          Lorem ipsum dolor sit amet, nostrum constituto eum ex, ad ferri suscipit rationibus mei.
          Te iudicabit prodesset vim, inani volutpat consulatu ut eos. Nec ut odio copiosae. Per cu liber.